/*Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Barra di navigazione*/

.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}
.menu{
    display: inline-flex
}

.login{
    display: flex;
    justify-content: end;
}

.navbar{
    background-color: #255ee9;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}
.navbar>nav{
    background-color: #daa520;
    height: 40px;
    width: 700px;
    border-style: dashed;
}
.navbar{
    display: flex;
}



/*main*/


.h1{
    margin-bottom: 30px;
}

.p{
   margin-bottom: 30px;

}

.headcontainer{
background-image: url(img/jumbo.png) ;
background-size: cover;
min-height: 500px;
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: center;
align-items: center;

}
.jumbotron-p{
    display: flex;
    text-align: center;
}
 .btn-container{

    display: flex;
    gap: 20px;
    justify-content: center;
 }

 .btn-big{
    background-color: white;
    font color: black;

 }

 .btn-small{
    background-color: black;
    font color: white; 
 }
.sezb{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
.big{
   
     height: 300px;
     width: 700px;
     padding: 40px;
     display: inline-flex;
}

h2{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 30px;
}
.small{
  
    height: 300px;
    width: 100%;
    
    display: flex; 
    flex-grow: 100%;
}
 .sezc{
    background-color: gray;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
 }
 .sezd{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
 }
.footcontainer{
    background-color: gray;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.h2{
    display: inline;
}


.h3{
    background-image: url(img/stars.svg) ;
    background-image: top center;
    padding: 50px;
    font-size: 25px;
}
.box2{

    background-color: green;
    text-align: center;
    width: 1000px;
    height: 700px;
}
.fathercontainer{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    
 
}
.lastbox{

    background-color: #f08080;
    width: 1000px;
    height: 700px;
    border-style: dashed;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.ultimobox{
    background-color: #20b2aa;
    display: flex;
    flex-wrap: wrap;
    border-style: dashed  
} 

.uno-due-tre-quattro{

    height: 700px;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    border-style: dashed
}

.ultimobox{
    background-color: #20b2aa;
    display: flex;
    border-style: dashed  
} 

.final{
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
  
.navfinale{
 background-color: #add8e6;
width: 700px;
display: inline-flex;
justify-content: end;
}